@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	background-color:#c8e0e0 !important;
	color:#fff !important;
	}
	h1{
 text-align: center; font-size: 1.8rem;
 color: #444; padding: 30px 0; 
}
	.music-container
	{
		font-family:Tahoma, Geneva, sans-serif;
		width:350px;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		display:block;
		position:absolute;
		background-image:linear-gradient(#006994, #000000);}
	.music-header
	{
		width:100%;
		height:50px;
		border-bottom:1px solid #555;
		background-image: linear-gradient(#006994, #000000);
	}
	.music-header .fa-angle-left
	{
		float:left;
		margin-top:15px;
		margin-left:10px;
		cursor:pointer;}
		
	.music-header .fa-search
	{
		float:right;
		margin-top:15px;
		margin-right:10px;
		cursor:pointer;}
	.music-header .title
	{
		width:250px;
		height:30px;
		position:absolute;
		margin-left:30px;
		margin-top:10px;
		text-align:center;
		padding-left:10px;}
		
	.music-playlist
	{
		width:100%;
		height:450px;}
		
	.music-menu
	{
		width:100%;
		height:28px;}
	.menu{
		width:275px;
		height:16px;
		margin:15px 30px auto;
		border-radius:10px;
		border:1px solid #fff;}
		
	.menu ul{
			font-size:10px;
			padding:initial;}
		
	.menu ul li{
		list-style-type:none;
		display:inline-block;
		border-right:1px solid #fff;}
	.menu ul li a{
		color:#fff;
		padding:5px 15px;
		text-decoration:none;
		letter-spacing:0.5px;}
	.menu ul li:last-child
	{
		border-right:none;}
	.music-box{
		width:100%;
		height:410px;
		overflow:scroll;
		overflow-x: hidden;}
		
	.music-box::-webkit-scrollbar{
		width:0px;
		background:transparent;}
	
	.music-box .fa-ellipsis-v{
		margin-right:10px;
		margin-top:22px;
		font-weight:normal;
		color:#e1e1e1;
		cursor:pointer;}
	
	.music-info{
		width:100%
		height
		50px;
		display:flex;}
		
	.music-img{
		width:50px;
		height:50px;}
		
	.music-img img
	{
		width:40px;
		height:40px;
		margin:2px 5px;
		padding: 1px;}
	.music-name{
		width:300px;
		padding:0 5px;
		height:50px;}
		
	.music-name h6{
		margin-top:7px;
		font-size:15px;
		font-weight:normal;
		letter-spacing:0.5px;
		cursor:pointer;
		line-height:15px;}	
	.music-name p{
		font-size:10px;
		line-height:1px;
		letter-spacing:0.5px;
		color:#e1e1e1;
		cursor:pointer;}
	hr{
		width:95%;
		margin-top:4px !important;
		margin-bottom:6px !important;
		}
		
	.song{
		width:100%;
		height:60px;
		display:flex;
		background-image:linerar-gradient(#6c6cff, #6b3636);}
